# -*- mode: gitignore; -*-
*~
\#*\#
.\#*

# light dataset directory
/one_week

# datasets
/train_one_week
/test_one_week

# rapid miner imported light dataset
/Analysis/Repository/data/Light dataset/**

# preprocess.py output
/collaborative.csv
/articles.csv
/hits.csv
# legacy
/content.csv

# results
/results