# -*- mode: gitignore; -*-
*~
\#*\#
.\#*

# light dataset directory
/one_week

# rapid miner imported light dataset
/Analysis/Repository/data/Light dataset/**

# preprocess.py output
/collaborative.csv
/content.csv

# results
/results