# -*- mode: gitignore; -*-
*~
\#*\#
.\#*

# datasets
/one_week
/train_one_week
/test_one_week

# rapid miner imported light dataset
/Analysis/Repository/data/Light dataset/**

# preprocess.py output
/session_map.csv
/article_map.csv
/collaborative.csv
/articles.csv
/hits.csv
/test_hits.csv

# content_filtering.py output
/contentbased.txt
